
@media only screen and (max-width: 767px) {
a.navbar-brand.navbar-logo-add {
    width: 40%;
    margin-left: 0px !important;
    margin-right: 0px !important; 
}

form.search-bar.d-flex.flex-wrap.justify-content-center.gap-2.mt-4 {
    max-width: none;
}

.dropdown.english-drop.me-3 ul.dropdown-menu.show {
    left: -8px;
}

}