body {
    font-family: "Poppins";
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins";
}

/*nav-css*/

.register-radio-btn-add .form-check {
    display: flex;

    align-items: center;

    gap: 10px;
}

input#roleUser {
    border-radius: 100px !important;

    width: 20px !important;

    height: 20px !important;

    font-size: 15px !important;

    cursor: pointer;

    padding: 0px !important;

    border: solid 1px #999999 !important;
}

input#roleSeller {
    border-radius: 100px !important;

    width: 20px !important;

    height: 20px !important;

    font-size: 15px !important;

    cursor: pointer;

    padding: 0px !important;

    border: solid 1px #999999 !important;
}

.row.register-radio-btn-add {
    width: 40%;

    margin-top: -15px;

    margin-bottom: -15px;
}

.register-radio-btn-add label.form-check-label {
    margin-bottom: 0px !important;
}

.arab-part-top-navber-add .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    background: #fff;
    gap: 5px;
}
nav.navbar.navbar-expand-lg.arab-part-top-navber-add button.login-btn img {
    height: 23px;
}
nav.navbar.to-nav-add .nav-menu li a:hover {
    color: #e53935;
}

.arab-part-top-navber-add .logo img {
    height: 40px;
}

.arab-part-top-navber-add .search-box {
    display: flex;
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    height: 45px;
}
.arab-part-top-navber-add .search-box input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    color: #1a1a1a;
    font-family: "Roboto";
    font-size: 15px;
    box-shadow: none;
}
.arab-part-top-navber-add i.bi.bi-search {
    color: #1a1a1a;
}
.arab-part-top-navber-add .search-box button {
    background: none;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}

.arab-part-top-navber-add .search-box button img {
    height: 16px;
}
.arab-part-top-navber-add .contact-info {
    display: flex;
    align-items: center;
    gap: 25px;
}

.arab-part-top-navber-add .phone,
.email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arab-part-top-navber-add .phone img,
.email img {
    height: 20px;
}

.arab-part-top-navber-add .language-login {
    display: flex;
    align-items: center;
    gap: 0px;
    padding-left: 15px;
}

.arab-part-top-navber-add .language {
    font-size: 14px;
    cursor: pointer;
}
.arab-part-top-navber-add .login-btn {
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 600;
}

.arab-part-top-navber-add .login-btn img {
    height: 16px;
}

.arab-part-top-navber-add .container {
    padding: 0;
}
nav.navbar.navbar-expand-lg.arab-part-top-navber-add {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 5%);
    padding: 0;
}
.arab-part-top-navber-add .contact-info i {
    background: #004858;
    color: #fff;
    padding: 14px 14px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arab-part-top-navber-add button.btn.btn-light.dropdown-toggle {
    background: none;
    border: none;
    font-family: "Poppins";
    font-weight: 500;
    padding-right: 0px;
}

.arab-part-top-navber-add .contact-info small {
    font-family: Poppins;
    color: #000000;
    font-weight: 400;
}

.arab-part-top-navber-add .contact-info .email-text {
    font-family: "Poppins";
    font-weight: 500;
}
.arab-part-top-navber-add .login-btn:hover {
    background: #004858;
}
nav.navbar.to-nav-add .departments-btn {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0px;
    margin-top: -8px;
    height: 58px;
    margin-bottom: -7px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 15px;
}

.departments-btn i {
    margin: 0 5px;
}

nav.navbar.to-nav-add .nav-menu {
    list-style: none;
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
}

nav.navbar.to-nav-add .nav-menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
}

.nav-menu li.dropdown a {
    display: flex;
    align-items: center;
    color: #000;
}
.nav-right .upload-btn {
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 0px;
    margin-top: -8px;
    height: 58px;
    margin-bottom: -7px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 15px;
}

.upload-btn i {
    margin-right: 5px;
}
nav.navbar.to-nav-add {
    background: #000000;
}
nav.navbar.to-nav-add button#dropdownMenuButton1 {
    background: none;
    border: none;
    font-weight: 600;
    font-family: "Poppins";
    font-size: 16px;
    padding: 0;
}
nav.navbar.to-nav-add button#dropdownMenuButton1:hover {
    color: #e53935;
}

nav.navbar.to-nav-add ul.nav-menu.list-unstyled.d-flex.mb-0 {
    align-items: center;
}

/*first-section-css-start*/

.hero-section {
    background: url(./images/Inventory-banner-img.png) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 0 15px;
}

.hero-section .hero-title {
    font-size: 50px;
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
}

.hero-section .hero-subtext {
    padding-top: 25px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: "Poppins";
    width: 33%;
}
nav.navbar.to-nav-add .container {
    padding: 0;
}
.hero-section .search-bar {
    background-color: #fff;
    border-radius: 100px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
}
nav.navbar.to-nav-add .dropdown-menu.show a.dropdown-item {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.search-bar select,
.search-bar input {
    border: none;
    padding: 10px;
    border-radius: 30px;
    width: 140px;
}

.search-bar input[type="text"] {
    width: 160px;
}

.search-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 50%;
}
.product-filter-add-label {
    color: #979090;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    padding-bottom: 8px;
}
.hero-section form.search-bar {
    max-width: max-content;
    padding: 0px 25px;
    align-items: center;
    height: 100px;
    gap: 20px !important;
}
.hero-section form.search-bar select,
.search-bar input {
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 130px;
    background-color: #e9e9e9;
    height: 40px;
    box-shadow: none;
    cursor: pointer;
    font-family: "Poppins";
    font-size: 14px;
    color: #181a20;
}

.hero-section button.filter-search-btn {
    background-color: #ea3731;
    border: none;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 65px;
    height: 65px;
    justify-content: center;
    margin-right: -12px;
    margin-left: 15px;
}
.hero-section button.filter-search-btn:hover {
    background: #004858;
}

.hero-section input.form-control.postal-code {
    box-shadow: none;
}

.hero-section input.form-control.postal-code:focus {
    background: #e9e9e9;
}

/*how-it-work-css*/

.row.how-it-inner {
    width: 92%;
    margin: auto;
    padding-bottom: 15px;
}
.row.how-it-inner p {
    color: #1c1c1e;
    font-size: 15px;
    font-family: "Poppins";
}

.row.how-it-inner img.card-img-top {
    background: #004858;
    width: 65px;
    border-radius: 100px;
    padding: 11px;
    margin: auto;
}

.row.how-it-inner .card {
    border-radius: 20px;
    padding: 40px 0;
}
.how-it-inner h5.card-title.text-center {
    color: #004858;
    font-weight: 700;
    font-family: "Poppins";
    padding: 8px 0;
    font-size: 22px;
    margin-top: 2px;
}

.how-it-works h1.text-center.top-text {
    font-size: 40px;
    font-family: "Poppins";
    color: #004858;
    font-weight: 700;
    padding-top: 35px;
}
.it-text-work {
    width: 47%;
    margin: auto;
}

.sellers-for-add {
    background: #ea3731;
    margin: 40px 0;
    padding: 40px 0;
}

.sellers-for-add p.text-center.text-white {
    margin-bottom: 0px;
}

.sellers-for-add h1 {
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 35px;
}
.how-it-works .buyers-for {
    background: #004858;
    margin-bottom: 130px;
}

.sellers-for-add.buyers-for img.card-img-top {
    background: #ea3731;
}

.sellers-for-add.buyers-for h5.card-title.text-center {
    color: #ea3731;
}

/*insurance-agencies-css*/
.insurance-agencies {
    position: relative;
}
.agency-banner {
    color: white;
    max-width: 100%;
    background: linear-gradient(to right, #c82929, #1c2e45), url("./images/insurance-shap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: absolute;
    width: 80%;
    top: -80px;
    left: 0;
    right: 0;
    margin: auto;
}
.insurance-agencies .inner-tabs-text {
    width: 100%;
    background: url(./images/insurance-shap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 24px;
    border-radius: 15px;
}

.agency-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.insurance-agencies .text-content {
    max-width: 60%;
}
.insurance-agencies .text-content h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: "Poppins";
}
.insurance-agencies .text-content p {
    font-size: 15px;
    margin-bottom: 16px;
    width: 90%;
    font-family: "Poppins";
    padding-top: 10px;
}
.inner-tabs-text {
    width: 100%;
    padding-left: 50px;
}
.register-button {
    background-color: white;
    color: #1c2e45;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: background 0.3s, color 0.3s;
}
.vehicle-image {
    width: 40%;
}
.register-button:hover {
    background-color: #e5e5e5;
}
.vehicle-image img {
    width: 90%;
    float: right;
    margin-right: 0;
}
.agency-content .text-content {
    display: flex;
    align-items: center;
    max-width: max-content;
    width: 100%;
}
.agency-content button.register-button {
    width: 365px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-family: "Poppins";
    color: #000000;
    border-radius: 10px;
    padding: 10px 20px;
}

/*popup-modal-css*/

div#loginModal .input-group i {
    position: absolute;
    top: 67%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
    font-size: 15px;
}

div#loginModal i#togglePassword {
    position: absolute;
    right: 25px;
    left: 96%;
    color: #ababab;
    cursor: pointer;
}

.input-icon-wrapper {
    position: relative;
    display: block;
    align-items: center;
}

.input-icon-wrapper i {
    position: absolute;
    color: #888;
}

.input-icon-wrapper input {
    padding-left: 35px;
    width: 100%;
    box-sizing: border-box;
}

div#loginModal .login-modal img {
    height: auto;
}
div#loginModal .modal-content {
    width: 38%;
    margin: auto;
    padding: 30px;
    border-radius: 17px;
    border: none;
    padding-top: 0px;
    top: 40px;
}
div#loginModal {
    background: rgba(0, 0, 0, 0.5);
}
div#loginModal span.close {
    text-align: right;
    color: #1c1c1e;
    font-size: 35px;
    cursor: pointer;
    height: 25px;
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

div#loginModal .logo {
    text-align: center;
    margin-bottom: 20px;
}

div#loginModal .logo img {
    width: 150px;
}

.login-modal h2 {
    text-align: left;
    font-weight: 600;
    margin-bottom: 35px;
    color: #1c1c1e;
    font-family: "Poppins";
    font-size: 30px;
}
div#loginModal .login-modal {
    width: 80%;
    margin: auto;
}
div#loginModal .input-group {
    margin-bottom: 20px;
}

div#loginModal .input-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-family: "Poppins";
    color: #999999;
    font-size: 13px;
}

div#loginModal .input-group input {
    width: 100%;
    padding: 10px 12px;
    border: none;
    color: #1c1c1e;
    font-size: 16px;
    font-family: "Poppins";
    border-bottom: solid 1px #999999;
    border-radius: 0;
    outline: none;
    padding-left: 35px;
}

div#loginModal input[type="email"]:hover {
    border-bottom: solid 1px #007bff !important;
}
div#loginModal .password-wrapper:hover {
    border-bottom: solid 1px #007bff !important;
}

div#loginModal .password-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: solid 1px #999999 !important;
}
div#loginModal input[type="password"] {
    border-bottom: none;
    border-radius: 0;
}

div#loginModal .input-group input::placeholder {
    color: #1c1c1e;
}
div#loginModal .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}

div#loginModal .options label {
    display: flex;
    align-items: center;
    font-family: "Poppins";
    color: #000000;
}
div#loginModal .options input[type="checkbox"] {
    margin-right: 5px;
    width: 20px;
    height: 15px;
}
div#loginModal .options a {
    color: #000000;
    text-decoration: none;
    font-family: "Poppins";
}
div#loginModal .login-btn {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    font-family: "Poppins";
    font-weight: 500;
    box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
    margin-top: 40px;
}
div#loginModal .login-btn:hover {
    background-color: #ea3731;
}
div#loginModal span.close:hover {
    color: #ea3731;
}
div#loginModal .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #000000;
    font-family: "Poppins";
}

div#loginModal .signup-link a {
    color: #ff6a00;
    text-decoration: none;
    font-weight: 500;
}

div#loginModal .or-divider {
    text-align: center;
    margin: 20px 0;
    color: #b5b5b5;
    font-size: 15px;
    font-family: "Poppins";
}

div#loginModal .social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

div#loginModal .social-buttons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
div#signupModal {
    background: rgba(0, 0, 0, 0.5);
}
div#signupModal .modal-content {
    width: 100%;
    border: none;
    border-radius: 17px;
}
div#signupModal .social-buttons img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.signup-container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
}

div#signupModal h2 {
    padding-top: 20px;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

div#signupModal .form-group {
    margin-bottom: 15px;
}
div#signupModal .form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-family: "Poppins";
    color: #999999;
    font-size: 13px;
}
i.fa-solid.fa-eye.togglePassword {
    color: #ababab;
}
div#signupModal .form-group input {
    transition: border 0.3s;
    width: 100%;
    padding: 10px 12px;
    border: none;
    color: #1c1c1e;
    font-size: 16px;
    font-family: "Poppins";
    border-bottom: solid 1px #999999;
    border-radius: 0;
    outline: none;
    padding-left: 25px;
}

.input-icon-wrapper i#togglePassword {
    position: absolute;
    right: 25px;
    left: 96%;
    color: #ababab;
    cursor: pointer;
}

div#signupModal .form-group input::placeholder {
    color: #1c1c1e;
}

div#signupModal .form-group input:focus {
    border-color: #007bff;
    outline: none;
}

div#signupModal .register-btn {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    font-family: "Poppins";
    font-weight: 500;
    box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
    margin-top: 40px;
}

div#signupModal .login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

div#signupModal .login-link a {
    color: #f90;
    text-decoration: none;
    font-weight: 600;
}

div#signupModal .logo img {
    height: auto;
    margin: auto;
    display: flex;
    width: 150px;
    margin-top: -25px;
}
div#signupModal .modal-header {
    border: none;
}
div#signupModal .input-add {
    display: flex;
    width: 100%;
    gap: 30px;
}

div#signupModal .modal-body {
    padding-top: 0px;
    padding-bottom: 30px;
}

div#signupModal .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #000000;
    font-family: "Poppins";
}

div#signupModal .signup-link a {
    color: #ff6a00;
    text-decoration: none;
    font-weight: 500;
}

div#signupModal .register-btn:hover {
    background-color: #ea3731;
}
div#signupModal .social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

div#signupModal .or-divider.mt-3 {
    text-align: center;
    margin: 20px 0;
    color: #b5b5b5;
    font-size: 15px;
    font-family: "Poppins";
}

div#signupModal .modal-dialog {
    transform: none;
    max-width: 40% !important;
    top: -36px;
}
div#signupModal .login-modal {
    width: 80%;
    margin: auto;
}

div#signupModal .modal-header button.btn-close {
    text-align: right;
    color: #1c1c1e;
    height: 25px;
    padding-right: 26px;
    font-size: 14px;
}

/*footer-css-start*/
footer.arab-footer-section {
    background-color: #000000;
    padding: 50px 0;
    border-top: solid 5px #ea3731;
}

footer.arab-footer-section .container {
    padding: 0;
}

footer.arab-footer-section .social-media-icons.text-white a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
}
footer.arab-footer-section ul.list-unstyled li {
    line-height: 2.3;
}

footer.arab-footer-section .arab-footer-three a {
    line-height: 2.2;
}

footer.arab-footer-section .arab-footer-one p {
    font-size: 16px;
    color: #000000;
    font-family: "Roboto";
    margin-bottom: 0px;
    padding-top: 25px;
    padding-right: 20px;
}
footer.arab-footer-section ul.list-unstyled li a {
    color: #fff;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}
footer.arab-footer-section i.fa.fa-angle-right {
    color: #000000;
    font-size: 14px;
    padding-right: 8px;
}
footer.arab-footer-section .arab-footer-four p {
    color: #000000;
    font-size: 14px;
    font-family: "Poppins";
}
footer.arab-footer-section .arab-footer-four input.form-control {
    font-size: 14px;
    border: solid 1px #e5e5ea;
    height: 54px;
    font-family: "Poppins";
    color: #000000;
    border-radius: 10px;
    margin-bottom: 20px;
}
footer.arab-footer-section .arab-footer-four input.form-control:focus {
    box-shadow: none;
}
footer.arab-footer-section .arab-footer-four button.btn.btn-primary.btn-sm {
    background-color: #ea3731;
    border: none;
    font-family: "Poppins";
    font-size: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 54px;
    align-items: center;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 13px;
}
footer.arab-footer-section .arab-footer-four label.form-check-box {
    font-size: 14px;
    font-family: "Poppins";
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

footer.arab-footer-section .arab-footer-four input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

/*footer.arab-footer-section .arab-footer-four button.btn.btn-primary.btn-sm:hover {
    background-color: #1489d1;
}*/

footer.arab-footer-section .arab-footer-three ul.list-unstyled i {
    font-family: "FontAwesome";
    color: #000000;
    padding-right: 8px;
}

.rights-reserved {
    background-color: #000000;
    color: #fff;
    text-align: center;
}
.rights-reserved p {
    margin-bottom: 0px;
    padding: 25px 0;
    font-family: "Roboto";
    font-size: 15px;
    border-top: solid 1px #827575;
    width: 87%;
    margin: auto;
}

footer.arab-footer-section ul.list-unstyled li a:hover {
    color: #ea3731;
}

footer.arab-footer-section .coach-footer-three ul.list-unstyled i:hover {
    color: #009bfa;
}
footer.arab-footer-section i.fa.fa-angle-right:hover {
    color: #009bfa;
}
footer.arab-footer-section .coach-footer-three {
    padding-left: 30px;
}
.arab-footer-two {
    padding-right: 0px;
}
.arab-footer-three .contact-profile {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 15px;
    border-bottom: solid 1px #262424;
    padding-bottom: 28px;
    width: 80%;
}
.arab-footer-two .social-icons i {
    font-family: "FontAwesome";
    border: solid 2px #ea3731;
    padding: 13px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arab-footer-two .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arab-footer-two .social-icons i:hover {
    background-color: #ea3731;
}
.arab-footer-three .contact-profile img {
    width: 50px;
}
footer.arab-footer-section h5 {
    padding-bottom: 25px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
}

p.address-text span {
    font-weight: 500;
    font-size: 15px;
    font-family: "Poppins";
}
.row.arab-footer-inner {
    font-family: "Poppins";
    padding-top: 120px;
    margin: auto;
}

.arab-footer-inner .bi-chevron-right::before {
    color: #fff;
    content: "\f285";
    font-size: 12px;
}

.profile-info {
    font-size: 14px;
}


/*Listing Grid*/

.listing_page {
    background-image: url(./images/listing-page-header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0 none;
    margin: 0 auto;
    padding: 0;
    position: relative;
	height: auto;
}
.page-heading h1 {
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
}
.page-header_wrap {
    padding: 60px 0;
    position: relative;
    text-align: center;
	z-index: 9;
}
.dark-overlay {
    background: rgba(0, 0, 0, .75) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.filter-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-page {
	overflow: hidden;
	padding: 80px 0
}
.mobile_search {
    display: none;
}
.result-sorting-wrapper {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 3px solid #e5e5e5;
    border-left: 4px solid #cecece;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 10px 20px;
}
.sorting-count {
    float: left;
}
.sorting-count p {
    margin: 0 auto;
    color: #222;
}
.sorting-count span {
    color: #999;
}
.result-sorting-by {
    float: right;
}
.result-sorting-by p {
    display: inline-block;
    margin: 0 auto;
    color: #222;
}
.result-sorting-by form {
    display: inline-block;
}
.sorting-select {
    margin: 0 auto;
    padding-left: 10px;
}
.sorting-select .form-control {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 50px;
    color: #555;
    font-size: 12px;
    height: auto;
    padding: 0 30px 0 12px;
}
.sorting-select .form-control option {
    padding: 5px;
}
.sorting-select.select::after {
    font-size: 12px;
    padding: 7px 0;
    right: 13px;
    color: #555;
}

.grid_listing:nth-child(3n+1) {
    clear: left;
}
.grid_listing .product-listing-m {
    margin: 0 -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 0 auto 40px;
}
.product-listing-m {
    margin: 0 auto 40px;
    overflow: hidden;
}
.gray-bg {
    background: #eee;
}
.grid_listing .product-listing-content .car-location {
    float: right;
}
.grid_listing .product-listing-content, .grid_listing .product-listing-img {
    float: none;
    width: 100%;
}
.product-listing-img {
    float: left;
    width: 45%;
    position: relative;
    overflow: hidden;
}
.grid_listing .product-listing-img img {
    width: 100%;
	transition: .5s;
}
.label_icon {
    color: #fff;
    font-size: 13px;
    line-height: 26px;
    padding: 0 12px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
	background: #fa2837 none repeat scroll 0 0;
    fill: #fa2837;
}
.save_item {
    background: rgba(0, 0, 0, .8);
    left: 10px;
    padding: 0 12px;
    position: absolute;
    top: 10px;
	border-radius: 50px;
    height: 50px;
    display: flex;
	justify-content: center;
    align-items: center;
    width: 50px;
	cursor: pointer;
}
.save_item .save-icon {
    margin: 4px 0;
    padding: 0;
}
.save_item .save-icon label {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}
.grid_listing .product-listing-content {
    padding: 20px;
    height: auto;
}

.inventory--list .product-listing-content {
    height: auto;
}

.grid_listing .product-listing-content h5 {
    line-height: 26px;
    margin: 0 auto 5px;
    color: #000;
    font-weight: 600;
}
.product-listing-content h5 a {
    color: #000;
    text-decoration: none;
}
.save_item .save-icon i.fa-regular {
    color: #ffffff;	
    font-size: 20px;
	margin-top: 5px;
}

.shop-name {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}
.car-location {
    display: inline-block;
    margin-left: 24px;
    color: #000;
    font-size: 13px;
    margin-top: 6px;
}
.grid_listing .product-listing-content ul.features_list {
    background: #fff none repeat scroll 0 0;
    border-top: 1px solid #e1e0e0;
    clear: both;
    margin: 16px -20px 0;
    padding: 15px 20px;
	overflow: hidden;
}
.grid_listing .product-listing-content ul.features_list li {
    color: #000;
    margin-bottom: 3px;
    width: 50%;
}
.product-listing-content li {
    float: left;
    font-size: 13px;
    font-weight: 400;
    list-style: outside none none;
    margin: 0 auto;
    width: 33%;
}
.product-listing-content .car-location i.fa-solid {
    color: #df3640cf;
}
.product-listing-content li .fa {
    font-size: 15px;
    margin-right: 8px;
	    color: #df3640cf;
}
.pagination {
    display: block;
    text-align: center;
}
.pagination ul {
    padding: 0;
    margin: 0;
}
.pagination ul li:hover {
    background: #004957;
}
.pagination ul li.current {
    color: #fff;
}
.pagination ul li:hover a {
    color: #fff;
}
.pagination ul li.current {
    background: #fa2837 none repeat scroll 0 0;
    fill: #fa2837;
}
.pagination ul li {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    list-style: outside none none;
    margin: 0 2px;
    text-align: center;
    vertical-align: middle;
    width: 32px;
}
.pagination ul li a {
    display: block;
    color: #555;
}
.listing_page form.search-bar select {
    background-color: #ffffff;
}
.product-listing-m:hover img {
    transform: scale(1.1);
}

.v_seller button {
    width: 100%;
    border: 1px solid #ea3731;
    background: #ea3731;
    color: #ffffff;
    padding: 12px;
    font-weight: normal;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
}
.whts_seller button {
    width: 100%;
    border: 1px solid #004858;
    background: #004858;
    color: #ffffff;
    padding: 12px;
    font-weight: normal;
    margin: 0 auto;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}
.model_info p {
    margin-bottom: 5px;
    font-weight: 500;
}
.seller_get {
    margin-top: 15px;
}

/*Seller Details Page*/

.listing_detail_header {
 /*   background: rgba(0, 0, 0, 0) url(./images/banner-bg-02.jpg) no-repeat;*/
 /*   padding: 80px 0;*/
 /*   position: relative;*/
	/*background-size: cover;*/
 /*   background-position: bottom;*/
}
.listing_detail_header .container {
    z-index: 9;
    position: relative;
}
.dealer_logo {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    float: left;
	background: #ffffff;
    padding: 24px;
    text-align: center;
}
.dealer_logo img {
    max-width: 100%;
}
.dealer_info {
    float: right;
    width: 100%;
    padding: 10px 0;
	color: #ffffff;
}
.dealer_social_links {
    padding: 0;
    margin: 20px 0 0;
}
.dealer_social_links li {
    list-style: none;
    float: left;
    margin: 10px 15px 10px 0;
}
.dealer_social_links li a {
    font-size: 26px;
	color: #e53935;
}
.dealer_contact_info {
    padding: 12px 18px;
    margin: 0 auto 10px;
}
.dealer_contact_info h6 {
    font-size: 13px;
    color: #a1a1a1;
    margin: 0 auto 1px;
}
.dealer_contact_info a {
    color: #111;
    font-size: 16px;
    font-weight: 300;
}
section.seller_abt {
    margin: 50px 0px;
}
.info_title {
    padding: 12px 12px;
    margin: 0 auto 15px;
}
.dealer_map {
    margin: 30px 0;
}
.dealer_map iframe {
    height: 300px;
}
.sidebar_widget {
    border: 1px solid #e6e6e6;
    margin: 0 auto 20px;
    padding: 20px 16px 20px;
    position: relative;
}
.widget_heading {
    margin-bottom: 26px;
}

.widget_heading h5 i {
    color: #fa2837;
    fill: #fa2837;
    margin: 0 5px 0 0;
}

.seller_cont_form .form-group {
    margin-bottom: 15px;
    position: relative;
}
.seller_cont_form .form-control {
    background: #eee none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: none;
    color: #888;
    font-size: 15px;
    height: 46px;
    line-height: 30px;
    padding: 0 15px;
}
.seller_cont_form textarea {
    height: 90px !important;
}
.seller_cont_form input.submit.btn-block {
    background-color: #e53935 !important;
    color: white !important;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 600;
}
.inventory--list h6 {
    margin-bottom: 35px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.model_info {
    display: flex;
    justify-content: space-between;
}
p.price {
    font-size: 20px;
    font-weight: 600;
}

/*Seller Page Css Start*/

.container.seller-add-content {
    padding-top: 50px;
    padding-bottom: 40px;
}
.seller-card {
    flex: 0 0 32%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0px;
    background: #fff;
    cursor: pointer;
}
.seller-page-add .banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.seller-page-add .profile {
    padding: 10px;
    font-family: 'Poppins';
}
.seller-page-add .banner {
    background: url('./images/Inventory-banner-img.png');
    width: 100%;
    height: 300px;
    object-fit: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}
.seller-page-add h1.text-center.text-white {
    font-size: 40px;
    font-family: 'Poppins';
}

.seller-page-add .logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 5px;
}
.seller-page-add .logo-section .logo {
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.seller-page-add .shop-info h2 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}
.seller-page-add .shop-info p {
    font-size: 13px;
    color: #666;
    margin: 3px 0 0;
}

.seller-page-add .description {
    margin: 8px 0;
    font-size: 13px;
    text-align: left;
    padding: 5px 0px;
}
.seller-page-add .service-tags {
    display: flex;
    gap: 8px;
    margin: 10px 0;
    row-gap: 0px;
    justify-content: center;
}
.seller-page-add .service-tags span {
    background: #fff;
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    width: 48%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.seller-page-add .buttons {
    display: block;
    gap: 8px;
    margin-top: 10px;
    justify-content: center;
}

.seller-page-add .btn {
  display: block;
  text-align: center;
  padding: 10px;
  background: #ddd;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.seller-page-add .btn.primary {
    color: #fff;
    background-color: #e53935;
}
.seller-page-add .about-section {
    padding: 15px;
    border-top: 1px solid #eee;
    text-align: center;
}
.seller-page-add .about-section h3 {
  margin: 0 0 5px;
}

.seller-page-add .icons-call i.bi.bi-whatsapp {
    color: #59e26f;
}

.seller-page-add .icons-call i.bi.bi-telephone-fill {
    color: black;
}
.seller-page-add .icons-call a i {
    font-size: 18px;
}
.seller-location a {
    color: #000000;
    font-size: 14px;
}
.seller-location a:hover {
    color: #e53935;
}
.seller-page-add .buttons a {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
}
.seller-page-add .icons-call {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.service-tags .tag {
  display: inline-flex;
  align-items: center;
  background-color: #f0f4f8;
  color: #333;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.service-tags .tag i {
    margin-right: 6px;
    font-size: 16px;
    color: #e53935;
}
.service-tags .tag:hover {
    background-color: #004858;
    color: #fff;
}
.seller-page-add .buttons a:hover {
    color: #fff;
    background-color: #004858;
}
.seller-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.seller-add-content .seller-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.seller-add-content .seller-card {
    flex: 0 0 32%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0px;
    background: #fff;
    border-radius: 13px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    top: 0px;
    position: relative;
}

.seller-add-content .seller-card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -8px;
}

.seller-add-content .mobile-btn-add {
    display: flex;
    align-items: center;
    gap: 6px;
}
.seller-add-content .inner-image-banner img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}

.seller-page-add .btn.primary:hover {
    background-color: #004858;
}
.seller-page-add .service-tags :hover i {
    color: #fff;
}

/*body.modal-open {
    overflow: inherit !important;
}
*/
div#signupModal::-webkit-scrollbar {
    width: 10px;
}
div#loginModal::-webkit-scrollbar {
    width: 10px;
}

div#productList {
    margin-bottom: 50px;
}
.inventory--list {
    margin-bottom: 80px;
}
.product-content-first {
    height: 250px;
}
.listing-content-add-new {
    height: 230px;
}
/*div#productList .product-listing-content h5 {
    height: 58px;
}*/
div#productList  .grid_listing .product-listing-img img {
    width: 100%;
    transition: .5s;
    height: 250px;
}
@media only screen and (max-width: 767px) {

.input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.input-icon-wrapper i {
    position: absolute;
    color: #888;
    left: 5px;
}
div#loginModal .modal-content {
    width: 96%;
    margin: auto;
    padding: 30px;
    border-radius: 17px;
    border: none;
    padding-top: 0px;
    top: 40px;
    left: 5px;
}
div#loginModal .login-modal {
    width: 100%;
    margin: auto;
}
div#loginModal i#togglePassword {
    position: absolute;
    right: 25px;
    left: 90%;
    color: #ababab;
    cursor: pointer;
}

div#signupModal .modal-dialog {
    transform: none;
    max-width: 96% !important;
    top: -11px;
    left: 6px;
}
div#signupModal .login-modal {
    width: 100%;
    margin: auto;
}
.input-icon-wrapper i#togglePassword {
    left: 90%;
    top: 8px;
}

.sellers-for-add h1 {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.it-text-work {
    width: 90%;
    margin: auto;
}
.agency-content .text-content {
    display: block;
    width: 100%;
}

.agency-content button.register-button {
    width: 100%;
    padding: 10px 20px;
}

.agency-content {
    display: block;
    align-items: center;
    justify-content: space-between;
}

.insurance-agencies .text-content h2 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 0px;
}

.vehicle-image img {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.agency-content button.register-button {
    width: 90%;
    margin: auto;
}
.row.arab-footer-inner {
    padding-top: 70%;
    margin: auto;
}
.insurance-agencies .inner-tabs-text {
    width: 100%;    
    padding-bottom: 0px;
}

.vehicle-image {
    width: 100%;
}


.row.how-it-inner {
    width: 92%;
    margin: auto;
    padding-bottom: 15px;
    display: block;
}

.row.how-it-inner .card {
    border-radius: 20px;
    padding: 20px 0;
    margin-bottom: 20px;
}


.hero-section .hero-title {
    font-size: 35px;
    padding-top: 0px;
}

.hero-section .hero-subtext {
    width: 100%;
}

.hero-section form.search-bar {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;
}

.hero-section form.search-bar select, .search-bar input {
    border: none;
    width: 100%;
}
.hero-section form.search-bar {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 0px;
    height: 100%;
}

.hero-section form.search-bar select, .search-bar input {
    color: #181a20;
    margin-top: 35px;
}
.hero-section {
    background: url(./images/Inventory-banner-img.png) no-repeat center center/cover;
    height: 100%;
    padding: 0 15px;
}

.hero-section button.filter-search-btn {
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.agency-banner {
    max-width: 100%;
    width: 90%;
}
ul.nav-menu.list-unstyled.d-flex.mb-0 {
    display: block !important;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 2.5;
}
.arab-part-top-navber-add .phone, .email {
    display: block !important;
    padding-top: 20px;
    padding-bottom: 10px;
}
.arab-part-top-navber-add .contact-info i {
    width: 40px;
    height: 40px;
}
.arab-part-top-navber-add .contact-info {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: center !important;
    margin: auto;
}

a.navbar-brand.navbar-logo-add {
    margin-left: 15px;
}
button.navbar-toggler {
    margin-right: 15px;
}

.seller-page-add h1.text-center.text-white {
    font-size: 35px;
}

.seller-page-add .banner {
    background: url('./images/Inventory-banner-img.png');
    width: 100%;
    height: 200px;
}

.seller-add-content .seller-grid {
    display: block;
}

.seller-add-content .seller-card {
    position: relative;
    margin-bottom: 15px;
}


.container.seller-add-content {
    padding-top: 40px;
    padding-bottom: 20px;
}
}